
table {
  width: 100%;
}
.mat-header-cell {
  padding: 5px;
    margin: 0px 5px;

}

.scroll-area {
  
  width: 100vw;
  overflow: auto;
}

.btns-bar {
  display: flex;
  align-items: center;
  border-radius: 2vh;
  width:auto;
  height: auto;
  position: fixed;
  bottom: 10vh;
  left: 10vw;
 margin: 0px auto;
 color: white !important;
  background-color: #a0f;
}


 .in-card-field {
   border-radius: 4ps;
   border-left: 1px lightblue solid;
   padding: 2px;
   margin: 3px;
 }




 .ou-card { 
  display: flex;
  flex-wrap: wrap;
 }