
table {
  width: 100%;
}
.mat-header-cell {
  padding: 5px;
    margin: 0px 5px;

}

.scroll-area {
  position: fixed;
  left: 0px;
top: 0px;
  width: 100vw;
  overflow: auto;
}

.btns-bar {
  display: flex;
  align-items: center;
  border-radius: 2vh;
  width:auto;
  height: auto;
  position: fixed;
  bottom: 10vh;
  left: 10vw;
 margin: 0px auto;
 color: white !important;
  background-color: #a0f;
}


 .in-card-field {
   border-radius: 4ps;
  
   padding: 2px;
   margin: 3px;
 }

 .no-fiele {

   border: 1px lightgray solid;
 }

.in-card-field input {
  border-bottom: 1px lightgray solid;
  min-width: 100px;
}


 .ou-card { 
  display: flex;
  flex-wrap: wrap;
 }